body{
    width: 67.7vw;
    height: 83.3vw;
    margin: auto;
    padding-left:3vw;
    padding-right: 3vw;
    text-align: center;
    background-color: white;
}
header{
    height: 5vw;
    display: flex;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: space-around;
    vertical-align: middle;
}
header div{
    font-size: 0.9vw;
    vertical-align: middle;
    padding-top: 1.4vw;
    cursor: pointer;
}
header>div:nth-of-type(1) img{
    width: 9vw;
}
header div:nth-of-type(2){
    margin-left: 3vw;
}
#list_ img{
    height: 1.5vw;
    margin-top: -0.4vw;
}
select{
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;  
}
header img{
    vertical-align: middle;
}
/* -----------------main------------------- */
main div{
    font-size: 0.9vw;
    text-align: left;
}
main>div{
    width: 34vw;
}
#flx_0{
    width: 68vw;
    height: 62vw;
    display: flex;
    flex-direction: row;
}
/* ----------Left block----------- */
#ls_flx{
    width: 13.5vw;
    height: 62vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
/* ---O ROSHEN---- */
#ls_flx>div:nth-of-type(1){
    font-size: 1.6vw;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 30px;
}
/* -----logo roshen----- */
#ls_flx>div:nth-of-type(2) img{
    height: 4.1vw;
}
/* ----------Right block----------- */
#rs_flx{
    width: 54vw;
    height: 62vw;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    flex-direction: column;
}
#rs_flx div{
    font-size: 0.8vw;
}
#rs_flx>div:nth-of-type(1){
    font-size: 0.9vw;
    font-weight: 900;
}
/* ----------footer block----------- */
#foot_flx{
    width: 54vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
}
#foot_flx div{
    width: 11vw;
    font-size: 0.8vw;
    font-weight: 900;
    margin-left: 3vw;
}
#foot_flx>a:nth-of-type(1){
    width: 11vw;
    font-size: 0.8vw;
    margin-left: 5.7vw;
}
#foot_flx>a:nth-of-type(2){
    width: 11vw;
    font-size: 0.8vw;
    margin-left: 4vw;
}
#foot_flx>a:nth-of-type(3) img{
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 3vw;
} 
#foot_flx>a:nth-of-type(4) img{
    width: 1.7vw;
    height: 1.7vw;
    margin-left: 0.3vw;
} 
a{
    color: black;
    text-decoration: none;
    font-size: 0.7vw;
    font-weight: 900;
}